:root {
    --text: rgb(10, 10, 10);
    --background: rgb(250, 250, 250);
    --primary: #2f7892;
    --secondary: #626793;
    --tertiary: #47b6de;
    --accent: #03171f;
    --light: #f8f9fa;
    --dark: #212529;
    font-family: 'Abel', sans-serif;
}

body {
    background-color: #030505;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    z-index: 1;
    overflow-wrap: break-word;
    overflow-x: hidden;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,h2,h3,h4,span,p {
    color: rgb(240, 240, 240);
}

::selection {
    background: rgba(71, 182, 222, 0.4);
}

::-moz-selection {
    background: rgba(71, 182, 222, 0.4);
}

.shingeki-header {
    display: flex;
    flex-direction: row;
    background-image: url('https://static.wikia.nocookie.net/shingekinokyojin/images/2/2b/Paths_%28Anime%29.png');
    background-size: cover;
    /* background-color: var(--primary); */
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    gap: .65rem;
    backdrop-filter: blur(12px);
    z-index: 2;
}

.shingeki-header-left {
    display: flex;
    justify-content: flex-start;
    background: transparent;
    align-items: center;
    gap: 1rem;
    padding: 15px;
}

.shingeki-header-left img {
    width: auto;
    height: 40px;
    border-radius: 50%;
    background: transparent;
}

@media (max-width: 800px)
{
    .shingeki-header-left img {
        width: auto;
        height: 30px;
    }
}

.shingeki-header-right {
    display: flex;
    justify-content: flex-end;
    background: transparent;
    align-items: center;
    gap: 1rem;
    padding: 15px;
}

.shingeki-header .label {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(220, 220, 220);
    background: transparent;
}

.hamburgerMenu {
    display: none;
    cursor: pointer;
}

.hamburgerDropdown {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 60px;
    right: 0;
    width: 28%;
    padding: 15px 0px 8px 0px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primary);
    backdrop-filter: blur(12px);
    z-index: 99;
    transition: 0.2s ease-in;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.hamburgerDropdown span:hover {
    color: rgb(190, 190, 190);
}

.hamburgerDropdown a:hover {
    color: rgb(190, 190, 190);
}

@media (max-width: 800px)
{
    #disc {
        display: none;
    }
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80%;
    padding: 25px;
    margin: 0 auto;
    gap: 0.35rem;
}

.shingeki-pfp {
    height: 250px;
    width: auto;
    border-radius: 50%;
    border: 4px solid white;
    transition: 0.4s ease-in;
}

.shingeki-pfp:hover {
    height: 275px;
    width: auto;
    border: 4px solid var(--accent);
}

.title {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -0.1rem;
    color: white;
}

.informative {
    font-size: 1.45rem;
    font-weight: 400;
    letter-spacing: 0rem;
    color: var(--tertiary);
    margin-bottom: 25px;
}

.social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 85%;
}

.social {
    display: flex;
    flex-direction: row;
    padding: 18px;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: auto;
    font-size: 2rem;
    font-weight: 700;
    white-space: nowrap;
}

@media (min-width: 1350px)
{
    .social-list {
        gap: 0.5rem;
    }

    .about-header {
        font-size: 1.6rem;
    }

    .about-header {
        font-size: 1.6rem;
    }

    .social {
        font-size: 1.5rem;
    }
}
@media (max-width: 1350px)
{
    .about-header {
        font-size: 1.6rem;
    }
}
@media (max-width: 900px)
{
    .social-list {
        gap: 0.4rem;
    }

    .social {
        font-size: 1rem;
    }

    .about-header {
        font-size: 1.6rem;
    }

    .about-content {
        font-size: 1.3rem;
    }
}
@media (max-width: 800px)
{
    .shingeki-pfp {
        height: 175px;
        width: auto;
    }

    .shingeki-pfp:hover {
        height: 200px;
        width: auto;
    }
}
@media (max-width: 700px)
{
    .social-list {
        gap: 0.1rem;
        flex-direction: column;
    }

    .social {
        font-size: 1.5rem;
        padding: 10px 30px 10px 30px;
        width: 100%;
    }

    .about-header-section {
        justify-content: space-between;
        align-items: center;
    }

    .about-header {
        font-size: 1.3rem;
    }

    .about-content {
        font-size: 1.4rem;
    }
}
@media (max-width: 500px)
{
    .social-list {
        gap: 0rem;
        flex-direction: column;
    }

    .social {
        font-size: 1.7rem;
        padding: 20px 50px 20px 50px;
        width: 100%;
    }

    .about-header-section {
        justify-content: space-between;
        align-items: center;
    }

    .about-header {
        font-size: 1.2rem;
    }

    .about-content {
        font-size: 1.5rem;
    }
}

.facebook {
    background-color: #3C5A9B;
    transition: 0.2s ease-in-out;
}

.facebook:hover {
    background-color: #24365c;
}

.instagram {
    background-color: #EF4B5F;
    transition: 0.2s ease-in-out;
}

.instagram:hover {
    background-color: #94313d;
}

.twitter {
    background-color: #1DA0F1;
    transition: 0.2s ease-in-out;
}

.twitter:hover {
    background-color: #13679b;
}

.kofi {
    background-color: #ff5f5f;
    transition: 0.2s ease-in-out;
}

.kofi:hover {
    background-color: #b04444;
}

.discord {
    background-color: #5964F2;
    transition: 0.2s ease-in-out;
}

.fandom {
    background-color: #002A32;
    transition: 0.2s ease-in-out;
}

.fandom:hover {
    background-color: #003f4b;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 90%;
}

.about-header {
    padding: 6px 17px 6px 17px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 6px 6px 0 0;
    border: 2px solid var(--tertiary);
    color: black;
    background-color: var(--primary);
    transition: 0.2s ease-in;
}

.about-header:hover {
    border-left: 2px solid var(--accent);
    border-top: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
    border-bottom: 0;
    background-color: var(--accent);
}

.active {
    color: white;
    border-left: 2px solid var(--tertiary);
    border-top: 2px solid var(--tertiary);
    border-right: 2px solid var(--tertiary);
    border-bottom: 0;
    background-color: var(--accent);
}

.nav-active {
    display: flex;
}

.about-header-section {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.about-content {
    text-align: left;
    font-size: 1.2rem;
    padding: 15px;
    color: rgb(50, 50, 50);
    width: 100%;
    background-color: rgba(3, 23, 31, 0.7);
}

.link {
    color: var(--tertiary);
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.link:hover {
    color: var(--primary);
}

.shingeki-footer {
    margin-top: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--accent);
    padding: 10px 0 10px 0;
    border-top: 1px solid var(--tertiary);
    font-size: 14px;
}

.footer-label {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(200, 200, 200);
}

.footer-label-secondary {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: rgb(150, 150, 150);
    transition: 0.2s ease-in-out;
}

.footer-label-secondary:hover {
    color: white;
}

.footer-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid rgb(200, 140, 140);
}

.row {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}